.modalContent{
    --background: var(--app-modalContent-background);
    --color : var(--app-modalContent-color)
}

.modalToolbar{
    --background: var(--app-modalToolbar-background);
    --color: var(--app-modalToolbar-color);
  }