.modalContent{
    --background: var(--learn-background-color);
    --color : var(--app-sideMenu-text-color)
}

.modalToolbar{
    --background: var(--app-mainToolbar-background);
    --color: var(--app-modalToolbar-color);
  }