<div class="wordsetmain" *ngIf="isDataReady">
  <!-- <div *ngIf="viewType === 'view'">
      <app-view></app-view>

    </div>


    <div *ngIf="viewType === 'learn'">

      <app-learn></app-learn>

    </div>

    <div *ngIf="viewType === 'test'">

      <app-practise></app-practise>

    </div> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <div class="filtericon">
        <svg-icon name="filter"></svg-icon>
        <!-- <ion-icon name=""></ion-icon> -->
      </div>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="filterButton('all')" data-desc="All">
        <ion-icon name="star"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="filterButton('viewed')" data-desc="Viewed">
        <ion-icon name="eye"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="filterButton('marked')" data-desc="Marked">
        <ion-icon name="bookmark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <super-tabs [(activeTabIndex)]="activeTabIndex" [config]="{
      debug: true,
      allowElementScroll: true,
      nativeSmoothScroll: true,
      avoidElements: true
    }">
    <super-tabs-toolbar slot="top">
      <super-tab-button>
        <ion-label style="color: var(--slide-bar-text-color)">View</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-label style="color: var(--slide-bar-text-color)">Learn</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-label style="color: var(--slide-bar-text-color)">Test</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>

    <super-tabs-container autoScrollTop class="superTabContainer">
      <super-tab class="ion-padding superTabs">
        <app-view></app-view>
      </super-tab>
      <super-tab class="superTabs">
        <app-learn [selectedSet]="selectedSet"></app-learn>
      </super-tab>
      <super-tab class="superTabs" avoid-super-tabs>
        <app-practise></app-practise>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</div>