.wordsetmain {
  height: 100%;
  width: 100%;
}

super-tabs-toolbar {
  background-color: white;
}
:host {
  --st-indicator-color: #ffa500;
  --st-indicator-height: 3px;
}

.superTabs{
  max-width : 800px;
}

.superTabContainer{
  max-width: 800px !important;
}

ion-fab{
  bottom: 20%;
  margin-right: 2%;
  ion-icon{
    color: #ffa500 ;
  }
}

ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  background-color: #ffa500;
  padding: 9px;
  border-radius: 8px;
  color: black;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}


.filtericon {
  width: 49%;
  height: 41%;
  margin: 0.2em 1.75em 0 0;
  position: relative;
}
