<div class="wordsetmain" *ngIf="isDataReady">
  <!-- <div *ngIf="viewType === 'view'">
      <app-view></app-view>

    </div>


    <div *ngIf="viewType === 'learn'">

      <app-learn></app-learn>

    </div>

    <div *ngIf="viewType === 'test'">

      <app-practise></app-practise>

    </div> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <div class="filtericon">
        <svg-icon name="filter"></svg-icon>
        <!-- <ion-icon name=""></ion-icon> -->
      </div>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="filterButton('all')" data-desc="All">
        <ion-icon name="star"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="filterButton('viewed')" data-desc="Viewed">
        <ion-icon name="eye"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="filterButton('marked')" data-desc="Marked">
        <ion-icon name="bookmark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="open()">
    </ion-fab-button>
  </ion-fab>
  <super-tabs [(activeTabIndex)]="activeTabIndex" [config]="{
      debug: true,
      allowElementScroll: true,
      nativeSmoothScroll: true,
      avoidElements: true
    }">
    <super-tabs-toolbar slot="top">
      <super-tab-button>
        <ion-label style="color: var(--slide-bar-text-color)">View</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-label style="color: var(--slide-bar-text-color)">Learn</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-label style="color: var(--slide-bar-text-color)">Test</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>

    <super-tabs-container autoScrollTop class="superTabContainer">
      <super-tab class="ion-padding superTabs">
        <app-view></app-view>
      </super-tab>
      <super-tab class="superTabs">
        <app-learn [selectedSet]="selectedSet"></app-learn>
      </super-tab>
      <super-tab class="superTabs" avoid-super-tabs>
        <app-practise></app-practise>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</div>

<div class="bg" (click)="close()"></div>

<div class="bottomSheet" (touchmove)="touchMove($event)" (touchend)="touchEnd()">

  <div class="swipe-handler"></div>

  <div class="content ion-padding">
    <h1>HELLO</h1>
    <p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph. A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long. Ultimately, a paragraph is a sentence or group of sentences that support one main idea. In this handout, we will refer to this as the “controlling idea,” because it controls what happens in the rest of the paragraph</p>
  </div>
</div>