<span #container>
  <ion-content *ngIf="isAllWordMastered" class="alignMiddle ionContentHeight">
    <ion-card>
      <ion-card-content class="ion-activatable">
        <p class="wordMeaning">
          No Selected words Found, Please select different Set from Dashboard

          <ion-buttons style="right: 0px;
                 position: absolute;
                 top: 5px;" slot="secondary">
            <ion-menu-button>
              <ion-icon name="settings"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
        </p>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <ion-content class="learnWordsContent ioncontentheight" *ngIf="!isAllWordMastered">
    <span *ngIf="allWordsData[selectedId] as crntWordAppData">

      <ion-card *ngIf="wordDynamicData[selectedId] as crntWordDynamicData"
        [ngClass]="{ alignMiddle: !isToShowDetails }">
        <ion-card-content class="ion-activatable ion-card-image">

          <ion-slides (touchstart)="stopParentProp($event)" (touchmove)="stopParentProp($event)" pager="true"
            style="background: black;" loop="true" zoom="true">
            <ion-slide *ngFor="let imgsrc of img">
              <img class="wordImage" src="{{ imgsrc }}" class="slide-img" />
            </ion-slide>
          </ion-slides>
          <ion-buttons class="detailsToggleButton">
            <ion-toggle [(ngModel)]="isToShowDetails"></ion-toggle>
          </ion-buttons>
          <ion-buttons class="starbutton">
            <ion-icon name="microphone" (click)="start(selectedId, false)" *ngIf="allWordsData[selectedId][5]"></ion-icon>
            <ion-icon (click)="changeMark(0, selectedId)" *ngIf="crntWordDynamicData['isMarked']" name="star">
            </ion-icon>
            <ion-icon (click)="changeMark(1, selectedId)" *ngIf="!crntWordDynamicData['isMarked']" name="star-outline">
            </ion-icon>
            <ion-icon name="arrow-forward" class="shareArrow" (click)="socialShare($event)"></ion-icon>
          </ion-buttons>
          <h1 class="wordStyle">
            {{ crntWordAppData[1] }}
            <small style="font-size: 54%;">{{
            "  (" + crntWordAppData[3].substring(0, 4) + ") "
          }}</small>
          </h1>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>

          <p class="wordMeaning">{{ crntWordAppData[2] }}</p>

          <p class="wordExample">
            <em>
              <div innerHTML="<b>e.g. : </b> {{
                ' ' + crntWordAppData[4]
                  | highlightText: crntWordAppData[1]
              }}"></div>
            </em>
          </p>
          <p class="synonyms"><strong>Synonyms : </strong>
            <span *ngFor='let syn of crntWordAppData[6];let isLast=last'>
              <span *ngIf="foundIDMapping[syn]" style="color:#ffa500" (click)="goToUrl(syn)"> {{syn}}
              </span>
              <span *ngIf="!foundIDMapping[syn]"> {{syn}}</span>
              {{isLast ? '' : ', '}}

            </span>
          </p>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>

          <h1>
            <ion-buttons class="seenButton">
              <ion-icon (click)="changeSeen(0, selectedId)" *ngIf="crntWordDynamicData['isSeen']" name="done-all">
              </ion-icon>
              <ion-icon (click)="changeSeen(1, selectedId)" *ngIf="!crntWordDynamicData['isSeen']" name="checkmark">
              </ion-icon>
            </ion-buttons>
          </h1>
        </ion-card-content>
      </ion-card>

    </span>
    <!-- <ion-button (click)="shareButtonClone()">Image</ion-button> -->
    <ion-content class="learnWordsContent ionContentHeight" *ngIf="isToShowDetails">
      <ion-card style="height: 61vh;">
        <mat-tab-group backgroundColor="primary" (selectedTabChange)="onTabChanged($event)" [selectedIndex]="activeURL">
          <mat-tab *ngFor="let thisTab of tabBarsKeys" [label]="thisTab">
            <ng-template matTabContent>
              <div id="loadImg">
                <div><img src="assets/gif.gif" /></div>
              </div>
              <div #frame
                style="width:100%;height:100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important">
                <iframe target="_parent" [src]="url[thisTab]" class="iframe e2e-iframe-trusted-src" (load)="onLoad()"
                  scrolling="yes"></iframe>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </ion-card>
    </ion-content>
  </ion-content>
  <section>
    <ion-toolbar class="learnWordsChangeButton">
      <ion-button style="width: 48%;" *ngIf="!isAllWordMastered" shape="round" (click)="previous()">Previous
      </ion-button>
      <ion-button style="width: 48%;" *ngIf="!isAllWordMastered" shape="round" (click)="next()">Next</ion-button>
    </ion-toolbar>
  </section>
</span>