ion-slides{
    height: 100%;
  }
  h1{
    color: orangered;
    font-weight: bolder;
    font-size: xx-large;
  }
  
  #heading{
    margin-top: 18%;
  
  }
  
  .btn{
    position: fixed;
    bottom: 0;
    right: 0;
  }
  
  .btn2{
    position: fixed;
    bottom: 0;
    width: 93%;
  }
  
  .btn3{
    position: fixed;
    bottom: 0;
    width: 93%;
  }