<div>
  <div class="parentDropDown">

    
  <ion-button fill="clear" slot="end" (click)="start(allSelectedWordIDs[0],true)">
    <ion-icon name="radio"></ion-icon>
  </ion-button>

    <div class="dropdownDiv">

      <mat-form-field appearance="fill" style="width:100%">
        <mat-label> Sorting type</mat-label>
        <mat-select (selectionChange)="changeSorting($event)" [(ngModel)]="selectedSorting" name="Sorting">
          <mat-option *ngFor="let type of sortingTypes" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="dropdownDiv">
      <mat-form-field appearance="fill" style="width:100%">
        <mat-label>
          Filter words
        </mat-label>
        <mat-select (selectionChange)="changeFilter($event)" [(ngModel)]="selectedFilter" name="filter">
          <mat-option *ngFor="let type of filterTypes" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div>

    <ion-content #ion_content style="--background: #fff8dc00;height: 57vh" forceOverscroll="true">
      <!-- this part checks if the search query is empty -->
      <div *ngIf="!searchService.searchQuery">
        <ion-item-sliding *ngFor="let oneWordId of allSelectedWordIDs">
          <ion-item class="name-item">
            <div class="parentBox">

              <div class="firstRow" (click)="onWordClickToggleit(oneWordId)">
                <div class="iconBox">
                  <div id="iconsGroup">
                    <svg-icon name='beginner'></svg-icon>
                  </div>
                </div>
                <div class="word"> {{allWordsData[oneWordId][1]}}</div>
                <div class="iconBox2" (click)="toggleBookMark($event, oneWordId)">
                  <div id="iconsGroup">
                    <svg-icon *ngIf="wordsDynamicData[oneWordId]['isMarked']" name='fill-bookmark'></svg-icon>
                    <svg-icon *ngIf="!wordsDynamicData[oneWordId]['isMarked']" name='bookMark'></svg-icon>
                  </div>
                </div>
              </div>

              <div *ngIf="isWordopen[oneWordId]" class="secondRow" (click)="onWordClickToggleit(oneWordId)">
                <div class="meaningtextStyle">{{allWordsData[oneWordId][2]}} </div>

              </div>

              <div *ngIf="isWordopen[oneWordId]" class="thirdRow">
                <div class="iconBox" (click)="takeNoteToggle($event, oneWordId)">
                  <div class="icon">
                    <div id="iconsGroup">
                      <svg-icon name='noteIcon'></svg-icon>
                    </div>
                  </div>
                  <div class="text">
                    Note
                  </div>

                </div>

                <div class="iconBox" (click)="start(oneWordId,false)">
                  <div class="icon">
                    <div id="iconsGroup">
                      <ion-icon name="play-circle-outline"></ion-icon>
                    </div>
                  </div>
                  <div class="text">
                    Podcast
                  </div>
                </div>

                <div class="iconBox" routerLink="/mainmodule/base/wordSets/{{selectedSet}}/learn/{{oneWordId}}">
                  <div class="text">
                    Explore
                  </div>
                  <div class="icon">
                    <div id="iconsGroup">
                      <svg-icon name='leftAngleIcon'></svg-icon>
                    </div>
                  </div>

                </div>

              </div>

              <div *ngIf="(isWordopen[oneWordId]) && (isToTakeNote[oneWordId] || wordsDynamicData[oneWordId][notes])"
                class="fourthRow">
                <textarea [(ngModel)]="wordsDynamicData[oneWordId]['Notes']" class="textArea" rows="4" cols="50"
                  placeholder="Make a Note to remember this word"></textarea>

              </div>

            </div>

          </ion-item>

        </ion-item-sliding>
      </div>

      <!-- here we decide what to show and how to show if search query has elements -->
      <div *ngIf="searchService.searchQuery">
        <!-- <div *ngFor="let word of wordArray | filter:searchService.searchQuery">
          {{word.name}}
        </div> -->
        <ion-item-sliding *ngFor="let word of wordArray | filter:searchService.searchQuery">
          <ion-item>
            <div class="parentBox">
              <div class="firstRow" (click)="onWordClickToggleit(word.id)">
                <div class="iconBox">
                  <div id="iconsGroup">
                    <svg-icon name='beginner'></svg-icon>
                  </div>
                </div>
                <div class="word"> {{word.name}}</div>
                <div class="iconBox2" (click)="toggleBookMark($event, word.id)">
                  <div id="iconsGroup">
                    <svg-icon *ngIf="wordsDynamicData[word.id]['isMarked']" name='fill-bookmark'></svg-icon>
                    <svg-icon *ngIf="!wordsDynamicData[word.id]['isMarked']" name='bookMark'></svg-icon>
                  </div>
                </div>
              </div>

              <div *ngIf="isWordopen[word.id]" class="secondRow" (click)="onWordClickToggleit(word.id)">
                <div class="meaningtextStyle">{{allWordsData[word.id][2]}} </div>

              </div>

              <div *ngIf="isWordopen[word.id]" class="thirdRow">
                <div class="iconBox" (click)="takeNoteToggle($event, word.id)">
                  <div class="icon">
                    <div id="iconsGroup">
                      <svg-icon name='noteIcon'></svg-icon>
                    </div>
                  </div>
                  <div class="text">
                    Note
                  </div>

                </div>
                <div class="iconBox" routerLink="/mainmodule/base/learn/{{word.id}}">
                  <div class="text">
                    Explore
                  </div>
                  <div class="icon">
                    <div id="iconsGroup">
                      <svg-icon name='leftAngleIcon'></svg-icon>
                    </div>
                  </div>

                </div>

              </div>

              <div *ngIf="(isWordopen[word.id]) && (isToTakeNote[word.id] || wordsDynamicData[word.id][notes])"
                class="fourthRow">
                <textarea [(ngModel)]="wordsDynamicData[word.id]['Notes']" class="textArea" rows="4" cols="50"
                  placeholder="Make a Note to remember this word"></textarea>

              </div>

            </div>

          </ion-item>

        </ion-item-sliding>
      </div>

    </ion-content>
  </div>
</div>