<ion-menu
  class="sideMenu"
  side="end"
  swipe-gesture="true"
  menuId="first"
  contentId="mainContent"
>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Verboculary</ion-title>

      <img slot="secondary" src="assets/logo.png" height="58px" />
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-list *ngIf="isProcessed">
      <ion-item>
        <ion-icon
          class="listIcon headerColor"
          name="options"
          slot="start"
        ></ion-icon>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filters
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ion-list class="filterItem" *ngIf="isProcessed">
            <ion-item>
              <ion-label>Category</ion-label>
              <ion-select
                interface="popover"
                (ionChange)="categoryChanged($event)"
                [(ngModel)]="selectedCategory"
                [compareWith]="compareWith_category"
              >
                <ion-select-option
                  [value]="oneCategory"
                  *ngFor="let oneCategory of allCategoryType"
                  >{{oneCategory}}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>Type</ion-label>
              <ion-select
                interface="popover"
                (ionChange)="setChanged($event)"
                [(ngModel)]="selectedSet"
                [compareWith]="compareWith_set"
                multiple="isMultiple"
              >
                <ion-select-option [value]="'All'"
                  >Select All</ion-select-option
                >
                <ion-select-option
                  [value]="oneSet"
                  *ngFor="let oneSet of allSetOfcategory[selectedCategory]"
                  >{{oneSet}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Filter</ion-label>
              <ion-select
                interface="popover"
                (ionChange)="filterChanged($event)"
                [(ngModel)]="selectedFilter"
                [compareWith]="compareWith_category"
              >
                <ion-select-option [value]="'all'">All</ion-select-option>
                <ion-select-option [value]="'starred'"
                  >Starred</ion-select-option
                >
                <ion-select-option [value]="'Non-Starred'"
                  >Non-Starred</ion-select-option
                >
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Sort</ion-label>
              <ion-select
                interface="popover"
                (ionChange)="sortingChanged($event)"
                [(ngModel)]="selectedSorting"
                [compareWith]="compareWith_category"
              >
                <ion-select-option [value]="'shuffle'"
                  >Shuffle</ion-select-option
                >
                <ion-select-option [value]="'alphabetically'"
                  >Alphabetically</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-list>
        </mat-expansion-panel>
      </ion-item>

      <ion-item (click)="presentHowToUseModal()">
        <ion-icon name="help-circle" slot="start"></ion-icon>
        <ion-label>How To Use?</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="share" slot="start"></ion-icon>
        <ion-label>Share app</ion-label>
      </ion-item>
      <ion-item (click)="presentRatingAlert()">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label>Rate Us</ion-label>
      </ion-item>
      <ion-item (click)="presentModal()">
        <ion-icon name="bonfire" slot="start"></ion-icon>
        <ion-label>About Developer</ion-label>
      </ion-item>
      <ion-item (click)="presentAlertConfirm()">
        <ion-icon name="refresh-circle" slot="start"></ion-icon>
        <ion-label>Reset App</ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item> -->
      <!-- <ion-item >
                <ion-icon name="settings" slot="start"></ion-icon>
                <ion-label>Theme</ion-label>
                <ion-select interface="popover" (ionChange)="changeAppTheme()"[(ngModel)]="selectedTheme"
                  [compareWith]="compareWith_category">
                  
                  <ion-select-option [value] = "'default'">Default</ion-select-option>
                  <ion-select-option [value] = "'darkTheme'">Dark</ion-select-option>
                  <ion-select-option [value] = "'lightTheme'">Light</ion-select-option>
                </ion-select>

            </ion-item> -->
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="mainContent" main>
  <ion-header translucent>
    <ion-toolbar class="mainToolbar">
      <img slot="start" src="assets/logo.png" height="63px" />
      <!-- <img src="assets/logo.png" alt="appIcon"> -->
      <ion-title class="titleicon">{{appTitle}}</ion-title>
      <ion-buttons slot="secondary">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-tabs class="tabs">
      <ion-tab-bar class="navigatonMenubar" slot="top">
        <ion-tab-button tab="allWords">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>All Words</ion-label>
          <ion-badge>{{totalWordsCount}}</ion-badge>
        </ion-tab-button>
        <ion-tab-button tab="learn">
          <ion-icon name="paper"></ion-icon>
          <ion-label>Learn Set</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="practise">
          <ion-icon name="body"></ion-icon>
          <ion-label>Practise</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
      <ion-tab-bar
        *ngIf="isProcessed"
        class="selectedFilterTabbar"
        slot="top"
        style="height: 43px;"
      >
        <ion-toolbar
          class="selectedfilterToolbar"
          style="width: 100%;padding-left: 15px;"
        >
          <mat-chip-list aria-label="Filter Selection">
            <mat-chip class="categoryChip">{{selectedCategory}}</mat-chip>
            <mat-chip
              class="filterChip"
              removable="true"
              (removed)="removeFilter()"
              *ngIf="selectedFilter !== 'all' "
              selected
            >
              <ion-buttons style="float:left">
                <ion-icon
                  *ngIf="selectedFilter === 'starred'"
                  name="star"
                ></ion-icon>
                <ion-icon
                  *ngIf="selectedFilter === 'Non-Starred'"
                  name="star-outline"
                ></ion-icon>
              </ion-buttons>
              {{selectedFilter}}

              <ion-icon matChipRemove name="close"></ion-icon>
            </mat-chip>
            <mat-chip
              class="setChip"
              removable="true"
              (removed)="removeSet(oneSet)"
              *ngFor="let oneSet of (selectedSet.length<=titleThreshold)? selectedSet : selectedSet.slice(0,titleThreshold)"
            >
              {{oneSet}}
              <ion-icon matChipRemove name="close"></ion-icon>
            </mat-chip>
            <mat-chip
              class="setChip"
              *ngIf="selectedSet.length>titleThreshold"
              removable="true"
              (removed)="removeSet('tails')"
            >
              {{"+"+(selectedSet.length-titleThreshold)+" more"}}
              <ion-icon matChipRemove name="close"></ion-icon>
            </mat-chip>
          </mat-chip-list>

          <ion-buttons
            slot="secondary"
            style="margin-left: -9px;margin-right: -11px;"
          >
            <ion-menu-button>
              <ion-icon name="settings"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>
