<ion-menu class="sideMenu" side="end" swipe-gesture="true" menuId="first" contentId="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">

        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Verboculary</ion-title>

      <img slot="secondary" src="assets/logo.png" height="58px" />
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-list>
      <ion-item (click)="presentHowToUseModal()">
        <ion-icon name="help-circle" slot="start"></ion-icon>
        <ion-label>How To Use?</ion-label>
      </ion-item>

      <ion-item (click)="sharingService.onShareApp()">
        <ion-icon name="share" slot="start"></ion-icon>
        <ion-label>Share app</ion-label>
      </ion-item>
      <ion-item (click)="appRateService.showAppRate()">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label>Rate Us</ion-label>
      </ion-item>
      <ion-item (click)="presentModal()">
        <ion-icon name="bonfire" slot="start"></ion-icon>
        <ion-label>About Developer</ion-label>
      </ion-item>
      <ion-item (click)="presentAlertConfirm()">
        <ion-icon name="refresh-circle" slot="start"></ion-icon>
        <ion-label>Reset App</ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item> -->
      <!-- <ion-item >
                <ion-icon name="settings" slot="start"></ion-icon>
                <ion-label>Theme</ion-label>
                <ion-select interface="popover" (ionChange)="changeAppTheme()"[(ngModel)]="selectedTheme"
                  [compareWith]="compareWith_category">

                  <ion-select-option [value] = "'default'">Default</ion-select-option>
                  <ion-select-option [value] = "'darkTheme'">Dark</ion-select-option>
                  <ion-select-option [value] = "'lightTheme'">Light</ion-select-option>
                </ion-select>

            </ion-item> -->
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="mainContent" main>
  <ion-header translucent>
    <ion-toolbar class="mainToolbar">
      <img slot="start" src="assets/logo.png" height="63px" />
      <!-- <img src="assets/logo.png" alt="appIcon"> -->
      <ion-title class="titleicon">{{appTitle}}</ion-title>
      <ion-button (click)="themeService.toggleMode()">Mode</ion-button>
      <ion-buttons slot="secondary">
        <ion-searchbar id="searchBar" *ngIf="this.db.isToShowSearchBar && !db.isToRemoveCompleteSearch" inputmode="text"
          placeholder="Enter Word to search" showCancelButton="always"
          (ionChange)="db.onSearchQueryChange($event.target.value.toLowerCase())">
        </ion-searchbar>
        <ion-icon *ngIf="!this.db.isToShowSearchBar && !db.isToRemoveCompleteSearch" (click)="searchIconClicked()"
          slot="start" name="search"></ion-icon>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet>
    </ion-router-outlet>
  </ion-content>

  <ion-footer class="no-padding" [hidden]="!this.db.miniPlayerVisible" size="fixed">
    <ion-toolbar color="dark">

      <div class="mainPlayer">
        <div class="rangeSlider">
          <ion-range #range [(ngModel)]="this.db.progress" max="100" color="success" (touchend)="seek()"
            (mouseup)="seek()"></ion-range>

        </div>
        <div class="playerControl">

          <div style="width: 16%;">
            <ion-button fill="clear" (click)="close()" color="light">
              <ion-icon slot="icon-only" name="close-circle"></ion-icon>
            </ion-button>
          </div>
          <div style="width: 88%;" class="wordDescription"
            (click)="goToUrl('/mainmodule/base/wordSets/' + this.db.selectedSet+'/'+this.db.currId)">
            <div style="font-size: 26px;">
              <span>{{ this.db.currWord | titlecase}}</span>
            </div>
            <div style="font-size: 12px;">
              <div behavior="" direction="left">
                {{ this.db.currMeaning }}
              </div>

            </div>
          </div>
          <div style="width: 58%;" class="controlButton">
            <ion-button fill="clear" (click)="prev()" color="light">
              <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
            </ion-button>

            <ion-button fill="clear" (click)="tooglePlayer(false)" *ngIf="!this.db.isPlaying" color="light">
              <ion-icon slot="icon-only" name="play"></ion-icon>
            </ion-button>

            <ion-button fill="clear" (click)="tooglePlayer(true)" *ngIf="this.db.isPlaying" color="light">
              <ion-icon slot="icon-only" name="pause"></ion-icon>
            </ion-button>

            <ion-button fill="clear" (click)="next()" color="light">
              <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
            </ion-button>
          </div>

        </div>
      </div>


      <!-- -->
    </ion-toolbar>
  </ion-footer>
</div>