<ion-menu class="sideMenu" side="start" swipe-gesture="true" menuId="first" contentId="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">

        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title (click)="goToUrl('/mainmodule/base/dashboard') " class="titleicon">GRE Ninja</ion-title>

      <img slot="secondary" src="assets/logo.png" style="padding: 5px;" height="58px" />
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-list>

      <ion-item (click)="presentHowToUseModal()" class="side-menu-label">
        <ion-icon name="help-circle" slot="start"></ion-icon>
        <ion-label>How To Use?</ion-label>
      </ion-item>

      <ion-item (click)="presentModal()" class="side-menu-label">
        <ion-icon name="bonfire" slot="start"></ion-icon>
        <ion-label>About Developer</ion-label>
      </ion-item>

      <ion-item (click)="presentAlertConfirm()" class="side-menu-label">
        <ion-icon name="refresh-circle" slot="start"></ion-icon>
        <ion-label>Reset App</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label class="side-menu-label">Settings</ion-label>
      </ion-item>

      <ion-item (click)="sharingService.onShareApp()" class="side-menu-label">
        <ion-icon name="share" slot="start"></ion-icon>
        <ion-label>Share app</ion-label>
      </ion-item>

      <ion-item (click)="rate()" class="side-menu-label">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label>Rate Us</ion-label>
      </ion-item>


      <!-- <ion-item>
        <ion-label class="side-menu-label">{{themeService.value}}</ion-label>
        <ion-toggle slot="start" name="blackberry" color="light" (click)="toggleMode($event)"
          [(checked)]="themeService.checked" style="--handle-background: var(--toggle-button-color);"></ion-toggle>
      </ion-item> -->

      <ion-item (click)="toggleMode($event)">
        <ion-icon *ngIf="themeService.checked" slot="start" name="sunny"></ion-icon>
        <ion-icon *ngIf="!themeService.checked" slot="start" name="moon"></ion-icon>
        <ion-label class="side-menu-label" *ngIf="themeService.checked">Light Theme</ion-label>
        <ion-label class="side-menu-label" *ngIf="!themeService.checked">Dark Theme</ion-label>
      </ion-item>


      <!-- <ion-item >
                <ion-icon name="settings" slot="start"></ion-icon>
                <ion-label>Theme</ion-label>
                <ion-select interface="popover" (ionChange)="changeAppTheme()"[(ngModel)]="selectedTheme"
                  [compareWith]="compareWith_category">

                  <ion-select-option [value] = "'default'">Default</ion-select-option>
                  <ion-select-option [value] = "'darkTheme'">Dark</ion-select-option>
                  <ion-select-option [value] = "'lightTheme'">Light</ion-select-option>
                </ion-select>

            </ion-item> -->
    </ion-list>
  </ion-content>
  <ion-footer class="copyright">
    Copyright © GRE Ninja 2020 All Rights Reserved
  </ion-footer>
</ion-menu>

<div class="ion-page" id="mainContent" main>
  <ion-header translucent>
    <ion-toolbar class="mainToolbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <!-- <img slot="start" src="assets/logo.png" height="50px" (click)="goToUrl('/mainmodule/base/dashboard')"/> -->
      <!-- <img src="assets/logo.png" alt="appIcon"> -->
      <ion-title (click)="goToUrl('/mainmodule/base/dashboard') " class="titleicon">{{appTitle}}</ion-title>
      <ion-buttons slot="secondary">
        <!-- <ion-searchbar id="searchBar"
          [ngStyle]="{'visibility': (this.db.isToShowSearchBar && !db.isToRemoveCompleteSearch) ? 'visible' : 'hidden'}"
          inputmode="text" placeholder="Enter Word to search" showCancelButton="always"
          (ionChange)="db.onSearchQueryChange($event.target.value.toLowerCase())">
        </ion-searchbar> -->
        <ion-searchbar id="searchBar" *ngIf="this.db.isToShowSearchBar && !db.isToRemoveCompleteSearch" inputmode="text"
          placeholder="Enter Word to search" showCancelButton="always"
          (ionChange)="db.onSearchQueryChange($event.target.value.toLowerCase())"
          style="--background: var(--search-bar-color); --color: var(--search-bar-text-color); --cancel-button-color: var(--search-bar-text-color); --clear-button-color: var(--search-bar-text-color);">
        </ion-searchbar>
        <ion-icon *ngIf="((!this.db.isToShowSearchBar) && !db.isToRemoveCompleteSearch)" (click)="searchIconClicked()"
          slot="start" name="search"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet>
    </ion-router-outlet>
  </ion-content>

  <ion-footer class="no-padding" [hidden]="!this.podcast.isPlayerActive" size="fixed">
    <ion-toolbar color="dark">

      <div class="mainPlayer">
        <div class="rangeSlider">
          <ion-range #range [(ngModel)]="this.podcast.progress" max="100" color="success" (touchend)="seek()"
            style="height: 16px;" (mouseup)="seek()"></ion-range>

        </div>
        <div class="playerControl">

          <div style="width: 16%;">
            <ion-button fill="clear" (click)="close()" color="light">
              <ion-icon slot="icon-only" name="close-circle"></ion-icon>
            </ion-button>
          </div>
          <div style="width: 88%;" class="wordDescription"
            (click)="goToUrl('/mainmodule/base/wordSets/' + this.db.selectedSet+'/learn/'+this.podcast.currId)">
            <div style="font-size: 20px;">
              <span>{{ this.db.allWordsData[this.podcast.currId][1] | titlecase}}</span>
            </div>
            <div style="font-size: 12px;">
              <div behavior="" direction="left" style="overflow: hidden;
              height: 12px;
              text-overflow: ellipsis;">
                {{ this.db.allWordsData[this.podcast.currId][2]  }}
              </div>

            </div>
          </div>
          <div style="width: 58%;" class="controlButton">
            <ion-button fill="clear" (click)="prev()" color="light">
              <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
            </ion-button>

            <ion-button fill="clear" (click)="tooglePlayer(false)"
              *ngIf="!this.podcast.isPlayerPlaying && !this.podcast.isInTransition" color="light">
              <ion-icon slot="icon-only" name="play"></ion-icon>
            </ion-button>

            <ion-button fill="clear" (click)="tooglePlayer(true)"
              *ngIf="this.podcast.isPlayerPlaying && !this.podcast.isInTransition" color="light">
              <ion-icon slot="icon-only" name="pause"></ion-icon>
            </ion-button>
            <ion-spinner name="lines-small" *ngIf="this.podcast.isInTransition"></ion-spinner>

            <ion-button fill="clear" (click)="next()" color="light">
              <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
            </ion-button>
          </div>

        </div>
      </div>


      <!-- -->
    </ion-toolbar>
  </ion-footer>
</div>