<div class="backgroundGraph">
  <div class="chartArea">
    <app-progress-chart>

      <!-- this will be adjusting its view based a service event where we will publish on what it need to see
        have to see if chart can load data dynamically or not...
       
      
      -->

    </app-progress-chart>

    <div id="overChartText">
      <span>Hello,</span><br>
      <span style="font-style:normal;font-weight:normal;font-size:30px;">Rishabh!</span><br>
      <span class="message">Track the progress.</span>
    </div>
  </div>

  <div class="masterFilter">

    <div class="allMasterCards">

      <div class="emptySides"></div>
      <div *ngFor="let oneCard of masterCard" class="oneCard">
        <div class="subElement">
          <span>Viewed</span>
          <span style="font-style:normal;font-weight:normal;font-size:25px;">43/1000</span>
        </div>
      </div>
      <div class="emptySides"></div>

    </div>

  </div>
  <div #mainDiv class="full" style="top:430px;" id="toMove">

    <div #parent class="parentBox" (swipe)="swipeup($event)" (pandown)="handlePan($event)" (panup)="handlePan($event)"
      (panend)="handlePanEnd($event)">

      <ion-router-outlet>
      </ion-router-outlet>

      <!-- this router outlet handled routing coming from the sub-routing module -->
    </div>
  </div>

</div>