<div class="fixHeader">
  <div class="handle">
    <div class="handleBox"></div>

  </div>

  <div class="userLevels">

    <div class="allLevels">
      <div class="subLevel subFlexing" (click)="scrollParentToChild(begineer)">
        <div id="iconsGroup">
          <svg-icon name='beginner'></svg-icon>
        </div>
        <div id="LevelName">
          <span>Beginner</span>
        </div>

        <div id="levelStatus">
          <span>{{collectiveProgress['beginner']['totalLearned']}}/{{collectiveProgress['beginner']['totalWords']}}
            Words</span>
          <!-- do the calculation part here s -->
        </div>



      </div>

      <div class="subLevel subFlexing" (click)="scrollParentToChild(transistional)">

        <div id="iconsGroup">
          <svg-icon name='transistional'></svg-icon>

        </div>
        <div id="LevelName">
          <span>Transitional</span>
        </div>

        <div id="levelStatus">
          <span>{{collectiveProgress['transitional']['totalLearned']}}/{{collectiveProgress['transitional']['totalWords']}}
            Words</span>
        </div>
      </div>
      <div class="subLevel subFlexing" (click)="scrollParentToChild(pro)">
        <div id="iconsGroup">
          <svg-icon name='proIcon'></svg-icon>
        </div>
        <div id="LevelName">
          <span>Pro</span>
        </div>

        <div id="levelStatus">
          <span>{{collectiveProgress['pro']['totalLearned']}}/{{collectiveProgress['pro']['totalWords']}} Words</span>
        </div>



      </div>

    </div>
    <div class="progressLine">

      <div class="allLevels">
        <div (click)="scrollToElement(begineer)" class="subLevel subFlexing2">
          <div class="purple-square"></div>
          <div class="connectingLine">
            <hr class="new1">
          </div>
        </div>
        <div (click)="scrollToElement(transistional)" class="subLevel subFlexing2">
          <div style="background-color: #fecc7b;" class="purple-square"></div>
          <div class="connectingLine">
            <hr class="new1">
          </div>
        </div>

        <div (click)="scrollToElement(pro)" class="subLevel subFlexing2">
          <div style="background-color: #fe805d;" class="purple-square"></div>
        </div>

      </div>



    </div>
  </div>
</div>

<ion-content #ion_content style="--background: #fff8dc00;" forceOverscroll="true">


  <div class="wordSets">

    <div #begineer>

    </div>
    <div *ngFor="let one of repetitions" class="oneSet">
      <div class="oneSetData" *ngIf="allSelectedSet[one] as setName">
        <div class="initialIcon">
          <div class="actualIcon">
            <svg-icon name='beginner'></svg-icon>
          </div>

        </div>
        <div *ngIf="allSetProgressData[setName] as crntSetProgressData" class="middleDetails">
          <div>
            <span id="mainText">{{appNametoUINameMapping[setName]}}</span>
          </div>
          <div class="progressStatus">
            <div class="progressBar" style="background-color: #c0e8cf;">
              <div
                [ngStyle]="{'width': ((crntSetProgressData['totalViewed']/crntSetProgressData['totalWords'])*100+3) + '%'}"
                class="progressBarBackground" style="background-color: #62c589"></div>
            </div>
            <div class="progresStats">
              <span>{{crntSetProgressData['totalViewed']}}/ {{crntSetProgressData['totalWords']+ " "}}
                Viewed</span>
            </div>
          </div>
          <div class="progressStatus">
            <div class="progressBar" style="background-color: #fde6c1;">
              <div
                [ngStyle]="{'width': ((crntSetProgressData['totalLearned']/crntSetProgressData['totalWords'])*100+3) + '%'}"
                class="progressBarBackground" style="background-color: #ffbb4d"></div>
            </div>
            <div class="progresStats">
              <span>{{crntSetProgressData['totalLearned']}}/ {{crntSetProgressData['totalWords']+ " "}}
                Learned</span>
            </div>
          </div>

        </div>
        <div class="navigationIcon">

          <ion-icon style="width: 100%;height: 100%;color: #87768d;max-width: 36px;" name="arrow-forward"
            routerLink="/mainmodule/base/wordSets/{{setName}}">
          </ion-icon>

        </div>
      </div>
      <div class="sepratingLine">
        <svg-icon name='sepratingLine'></svg-icon>
      </div>


    </div>

    <div #transistional>

    </div>

    <div *ngFor="let one of repetitions" class="oneSet">
      <div class="oneSetData" *ngIf="allSelectedSet[7+one] as setName">
        <div class="initialIcon" style="background-color: #fbecd3b0;">
          <div class="actualIcon">
            <svg-icon name='transistional'></svg-icon>
          </div>

        </div>
        <div class="middleDetails" *ngIf="allSetProgressData[setName] as crntSetProgressData">
          <div>
            <span id="mainText">{{appNametoUINameMapping[setName]}}</span>
          </div>
          <div class="progressStatus">
            <div class="progressBar" style="background-color: #c0e8cf;">
              <div
                [ngStyle]="{'width': ((crntSetProgressData['totalLearned']/crntSetProgressData['totalWords'])*100+3) + '%'}"
                class="progressBarBackground" style="background-color: #62c589"></div>
            </div>
            <div class="progresStats">
              <span>{{crntSetProgressData['totalViewed']}}/ {{crntSetProgressData['totalWords']+ " "}}
                Viewed</span>
            </div>
          </div>
          <div class="progressStatus">
            <div class="progressBar" style="background-color: #fde6c1;">
              <div
                [ngStyle]="{'width': ((crntSetProgressData['totalLearned']/crntSetProgressData['totalWords'])*100+3) + '%'}"
                class="progressBarBackground" style="background-color: #ffbb4d"></div>
            </div>
            <div class="progresStats">
              <span>{{crntSetProgressData['totalLearned']}}/ {{crntSetProgressData['totalWords']+ " "}}
                Learned</span>
            </div>
          </div>

        </div>
        <div class="navigationIcon">

          <ion-icon style="width: 100%;height: 100%;color: #87768d;max-width: 36px;" name="arrow-forward"
            routerLink="/mainmodule/base/wordSets/{{setName}}">
          </ion-icon>

        </div>
      </div>
      <div class="sepratingLine">
        <svg-icon name='sepratingLine'></svg-icon>
      </div>


    </div>

    <div #pro>

    </div>

    <div *ngFor="let one of repetitions" class="oneSet">
      <div class="oneSetData" *ngIf="allSelectedSet[14+one] as setName ">
        <div class="initialIcon" style="background-color: #fbd4ca85;">
          <div class="actualIcon">
            <svg-icon name='proIcon'></svg-icon>
          </div>

        </div>
        <div class="middleDetails" *ngIf="allSetProgressData[setName] as crntSetProgressData">
          <div>
            <span id="mainText">{{appNametoUINameMapping[setName]}}</span>
          </div>
          <div class="progressStatus">
            <div class="progressBar" style="background-color: #c0e8cf;">
              <div
                [ngStyle]="{'width': ((crntSetProgressData['totalViewed']/crntSetProgressData['totalWords'])*100+3) + '%'}"
                class="progressBarBackground" style="background-color: #62c589"></div>
            </div>
            <div class="progresStats">
              <span>{{crntSetProgressData['totalViewed']}}/ {{crntSetProgressData['totalWords']+ " "}}
                Viewed</span>
            </div>
          </div>
          <div class="progressStatus">
            <div class="progressBar" style="background-color: #fde6c1;">
              <div
                [ngStyle]="{'width': ((crntSetProgressData['totalLearned']/crntSetProgressData['totalWords'])*100+3) + '%'}"
                class="progressBarBackground" style="background-color: #ffbb4d"></div>
            </div>
            <div class="progresStats">
              <span>{{crntSetProgressData['totalLearned']}}/ {{crntSetProgressData['totalWords']+ " "}}
                Learned</span>
            </div>
          </div>

        </div>
        <div class="navigationIcon">

          <ion-icon style="width: 100%;height: 100%;color: #87768d;max-width: 36px;" name="arrow-forward"
            routerLink="/mainmodule/base/wordSets/{{setName}}">
          </ion-icon>

        </div>
      </div>
      <div class="sepratingLine">
        <svg-icon name='sepratingLine'></svg-icon>
      </div>


    </div>
    <ion-button expand="full" (click)="scrollToTop()">
      Scroll To Top
    </ion-button>

    <div style="height: 110px;
width: 100%;">

    </div>



  </div>

</ion-content>