.fixHeader{
    height: 164px;

}


.parentBox{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
width: 100%;
//bottom: -69.06%; wil be undefined

bottom: -10%;

background-color: transparent;
}

.full{
position: absolute;
left: 0%;
right: 0%;
width: 100%;
bottom: -4%;
box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.549);
border-radius: 20px;
background-color: white;

}
.handle{
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 125px;
    margin-top: -21px;
    .handleBox{
        width: 51px;
        height: 6px;
        background-color: #ffffff7a;
        border-radius: 3px;
    }
}

.handle:focus {
    .handleBox{
        background-color: white;

    }

}



.userLevels{
position: absolute;
left: 6%;
right: 6%;
top: 2%;
// bottom: 63.75%; 
height: 103px;
background: #F9FBFC;
border-radius: 31px;
display: flex;
flex-direction: column;
}


.allLevels{
    width: 100%;
    height: 100%;
    margin: 2px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:  nowrap;


.subLevel{
    width : 33.3%;
    height :100%;
}}


.subFlexing{
    position: relative; 
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.subFlexing2{
    position: relative; 
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.connectingLine{
    position: absolute;
    width: 69%;
    left: 65%;
}
.progressLine{
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0%;
}
.connectinLine{
    position: absolute;
    width: 100%;
    left: 50%;
}


#iconsGroup {
    width: 20%;
    height: 41%;
    position: relative;
}

#LevelName {
    white-space: nowrap;
    text-align: left;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(112,112,112,1);
    padding : 5px;
}

#levelStatus {
   white-space: nowrap;
    text-align: left;
    font-family: Rubik;
    font-style: normal;
    font-weight: lighter;
    font-size: 10px;
    color: rgba(112,112,112,1);
}

.svgAdjustment{
    width: 100%;
    height: 100%;
}

.purple-square {
    background-color: rgb(97, 198, 136);
    width: 31px;
    height: 6px;
    border-radius: 4px;
  }

  .new1{
    height: 1px;
    /* border-width: 0; */
    box-sizing: content-box;
    border-top: 4px dotted #e7e7e7;
  }


  ///// starting with the new list of the al words based on the set

.wordSets{
    position: relative;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.oneSet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 91px;

}
.oneSetData{
    width : 95%;
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    justify-content: space-between;
    align-items: stretch;

}
.oneSet:hover{
    background-color: #f9fbfc !important;
    transform: scale(1.03);
}

.initialIcon{
    width : 16%;
    background-color: #ecf8f1;
    display: flex;
    border-radius: 20px;
}

.actualIcon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}
.middleDetails{
    width : 72%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;

}

.navigationIcon{
    width : 8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.progressStatus{
    width: 100%;
    height: 8px;
    position: relative;
    padding-top: 6px;
    display: flex;
    justify-content: flex-end;
}
.progressBar{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #61c688;
    border-radius: 7px;
    left: 0px;
}
.progresStats{

    opacity: 0.6;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(112,112,112,1);
    width: 30%;
    margin-top: -3px;

}
.progressBarBackground{

}


#mainText{
    white-space: nowrap;
    text-align: left;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(69,43,79,1);
}

.sepratingLine{
    position: relative;
    width: 95%;
    height: 1.5px;
    margin-top: 16px;
}

